@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: radial-gradient(#1f3756, #141539);
}

.score-container {
  width: 50%;
  border: 2px solid #606e85;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .7rem;
}

.score-container h1 {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: .8;
}

.score-container .score-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  border-radius: 10px;
  width: 15%;
  padding: 1rem;
}

.score-container .score-card h1 {
  color: #3b4363;
  font-size: 2.5rem;
}

.score-container .score-card p {
  color: #2a46c0;
}

.rules {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: fixed;
  bottom: 5%;
  right: 5%;
}

.rules button {
  background: transparent;
  border: 2px solid #606e85;
  border-radius: 10px;
  padding: .5rem 1.6rem;
  color: white;
  cursor: pointer;
}

.interactive-container {
  width: 100vw;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.interactive-container .play-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (200px)[2];
      grid-template-columns: repeat(2, 200px);
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  position: relative;
}

.interactive-container .play-wrap .i-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interactive-container .play-wrap .i-c1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.interactive-container .play-wrap .i-c2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.interactive-container .play-wrap .i-c3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.interactive-container .play-wrap button {
  width: 160px;
  height: 160px;
  outline: none;
  border: none;
  border-radius: 50%;
}

.interactive-container .play-wrap button span {
  background: white;
  display: inline-block;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  -webkit-box-shadow: inset 0 7px rgba(233, 233, 233, 0.562);
          box-shadow: inset 0 7px rgba(233, 233, 233, 0.562);
}

.interactive-container .play-wrap:after {
  width: 70%;
  height: 70%;
  content: '';
  background-image: url("./images/bg-triangle.svg");
  left: 13%;
  top: 15%;
  background-repeat: no-repeat;
  position: absolute;
  background-size: cover;
  z-index: -1;
}

.p-w-btn1 {
  background-image: radial-gradient(#4865f4, #5671f5);
  -webkit-box-shadow: inset 0 -7px #5769c1;
          box-shadow: inset 0 -7px #5769c1;
}

.p-w-btn2 {
  background-image: radial-gradient(#ec9e0e, #eca922);
  -webkit-box-shadow: inset 0 -7px #b9985b;
          box-shadow: inset 0 -7px #b9985b;
}

.p-w-btn3 {
  background-image: radial-gradient(#dc2e4e, #dd405d);
  -webkit-box-shadow: inset 0 -7px #aa4b5c;
          box-shadow: inset 0 -7px #aa4b5c;
}

.result-wrap {
  display: none;
  -ms-grid-columns: (200px)[3];
      grid-template-columns: repeat(3, 200px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.result-wrap .user-picked-wrap {
  -ms-grid-columns: 1/2;
      grid-template-columns: 1/2;
  width: 100%;
  height: 100%;
}

.result-wrap .house-picked-wrap {
  -ms-grid-columns: 3/4;
      grid-template-columns: 3/4;
  width: 100%;
  height: 100%;
}

.result-wrap .result-indicator {
  -ms-grid-columns: 2/3;
      grid-template-columns: 2/3;
  width: 100%;
  height: 100%;
}

.result-wrap .result-indicator h1 {
  color: white;
  margin: 0rem auto 1rem auto;
}

.result-wrap .result-indicator button {
  border-radius: 8px;
  border: none;
  background: white;
  color: red;
  padding: .5rem 1rem;
}

.picked, .result-indicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.picked h1, .result-indicator h1 {
  color: white;
  font-size: 1.5rem;
  margin: 1rem auto;
}

.picked .wrap, .result-indicator .wrap {
  position: relative;
  width: 160px;
  height: 160px;
}

.picked .wrap button, .result-indicator .wrap button {
  width: 160px;
  height: 160px;
  outline: none;
  border: none;
  border-radius: 50%;
  position: absolute;
}

.picked .wrap button span, .result-indicator .wrap button span {
  background: white;
  display: inline-block;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  -webkit-box-shadow: inset 0 7px rgba(233, 233, 233, 0.562);
          box-shadow: inset 0 7px rgba(233, 233, 233, 0.562);
}

.rule {
  background: white;
  border-radius: 10px;
  position: absolute;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.6rem 1rem;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.rule .close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}

.userPick, .housePick {
  display: none;
}

button {
  cursor: pointer;
}

@media (max-width: 900px) {
  .score-container {
    width: 70%;
  }
  .score-container h1 {
    font-size: 1.5rem;
  }
  .score-container .score-card {
    width: 30%;
    padding: .7rem;
  }
  .rules {
    position: relative;
    right: 0;
    bottom: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 700px) {
  .score-container {
    width: 90%;
  }
  .play-wrap button {
    width: 150px !important;
    height: 150px !important;
  }
  .play-wrap button span {
    width: 110px !important;
    height: 110px !important;
  }
  .result-wrap {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .result-wrap .user-picked-wrap {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    width: 100%;
    height: 100%;
  }
  .result-wrap .house-picked-wrap {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    width: 100%;
    height: 100%;
  }
  .result-wrap .result-indicator {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    width: 100%;
    height: 100%;
  }
  .result-wrap .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .result-wrap .wrap button {
    width: 150px;
    height: 150px;
  }
  .result-wrap .wrap button span {
    width: 110px;
    height: 110px;
  }
}

@media (max-width: 500px) {
  .play-wrap {
    grid-column-gap: 0px !important;
    margin: 0 auto;
  }
  .play-wrap button {
    width: 130px !important;
    height: 130px !important;
  }
  .play-wrap button span {
    width: 90px !important;
    height: 90px !important;
  }
  .picked h1 {
    font-size: 1rem;
  }
}

@media (max-width: 450px) {
  .rule {
    padding: 2rem .5rem;
  }
  .result-wrap .wrap button {
    width: 120px;
    height: 120px;
  }
  .result-wrap .wrap button span {
    width: 90px;
    height: 90px;
  }
}
/*# sourceMappingURL=style.css.map */